<div class="ts-main-content">
    <div class="content-wrapper">
        <div class="container-fluid client-status">

            <br>

            <ul class="nav nav-tabs">
                <li ng-class="{ active: settingTabIsSet(0) }"><a href ng-click="setSettingTab(0)">סטטיסטיקת לקוח</a></li>
                <li ng-class="{ active: settingTabIsSet(1) }"><a href ng-click="setSettingTab(1)">מעקב לקוח</a></li>
                <li ng-class="{ active: settingTabIsSet(2) }"><a href ng-click="setSettingTab(2)">פרופיל לקוח</a></li>
            </ul>

            <div ng-show="settingTabIsSet(0)">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="page-title">רשימת מוצרים של הלקוח </h2>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">

                                    <div class="col-md-12">
                                        <div>
                                            <table id="dynamic-table" class="table table-striped table-bordered table-hover" datatable="ng" dt-options="dtOptions">
                                                <thead>
                                                    <tr>
                                                        <th>-</th>
                                                        <th>ברקוד</th>
                                                        <th>שם המוצר</th>
                                                        <th class="hidden-xs">מחיר קניה</th>
                                                        <th>מחיר לצרכן</th>
                                                        <th class="hidden-xs">הנחה</th>
                                                        <th class="hidden-xs">ניתן להנחה</th>
                                                        <th class="hidden-xs">כמות</th>
                                                        <th class="hidden-xs">תאריך קניה</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr data-ng-repeat="product in purchases">
                                                        <td>
                                                            <a href="#/product-statistics/{{product.product_id}}" class="red"> <i class="ace-icon fa fa-folder-open-o bigger-130"></i> </a>
                                                        </td>
                                                        <td>{{product.sku}}</td>
                                                        <td>{{product.product_name}}</td>
                                                        <td class="hidden-xs">{{product.buy_price | currency : ' ₪ ' : 2 }}</td>
                                                        <td>{{product.sale_price | currency : ' ₪ ' : 2 }}</td>
                                                        <td class="hidden-xs">{{product.discount_percent}}%</td>
                                                        <td class="hidden-xs">{{ (product.is_can_discount == 0 ? "לא" : "כן") }}</td>
                                                        <td class="hidden-xs">{{product.product_count}}</td>
                                                        <td class="hidden-xs">{{product.sale_create * 1000 | date : ' HH:mm - dd/MM/yyyy' }}</td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>

                                    <div class="clear"></div>
                                    <br><br>

                                    <div class="col-md-6">

                                        <div class="panel panel-default">
                                            <div class="panel-heading nav-tabs">גרף מוצרים לפי כמות קניה</div>
                                            <div class="panel-body">
                                                <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options"></canvas>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading nav-tabs">6 ביקורים אחרונים</div>
                                            <div class="panel-body">
                                                <div class="last-visit">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>תאריך ביקור</th>
                                                                <th>סכום קניה</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr data-ng-repeat="lastVisit in lastVisits">
                                                                <th scope="row">{{ lastVisit.id }}</th>
                                                                <td>{{ lastVisit.create_date * 1000 | date : ' HH:mm - dd/MM/yyyy'}}
                                                                </td>
                                                                <td>{{ lastVisit.sum }} ש"ח</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <!--
									<div class="col-xs-12">
										<div class="panel panel-default">
											<div class="panel-heading">גרף מכירות פילוג חודשי</div>
											<div class="panel-body">
												<canvas id="bar" class="chart chart-bar" chart-data="data2" chart-labels="labels2" chart-series="series2"></canvas>
											</div>
										</div>
									</div>
									-->

                                </div>
                                <!-- PAGE CONTENT ENDS -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                    </div>
                </div>

            </div>


            <div ng-show="settingTabIsSet(1)">
                <div class="form-group label-floating is-empty">
                    <label for="textArea" class="col-md-2 control-label">הכנס מידע</label>
                    <textarea data-ng-model="trackingText" class="form-control" rows="3" id="textArea"></textarea>
                    <span class="help-block"></span>
                </div>

                <a href="javascript:void(0)" data-ng-click="saveNewTracking(trackingText)" class="btn btn-raised btn-success float-left">שמור<div class="ripple-container"></div></a>

                <div class="clear"></div>
                <br>

                <h2>מעקב לקוח</h2>

                <div class="col-md-12">
                    <div>
                        <table id="dynamic-table" class="table table-striped table-bordered table-hover" datatable="ng" dt-options="dtOptions">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>מידע</th>
                                    <!--<th class="hidden-xs">משתמש</th>-->
                                    <th class="hidden-xs">תאריך</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr data-ng-repeat="track in tracking">
                                    <td>{{track.id}}</td>
                                    <td>{{track.text}} </td>
                                    <!--<td class="hidden-xs">{{track.user_id}}</td>-->
                                    <td class="hidden-xs">{{ track.tracking_create * 1000 | date : ' HH:mm - dd/MM/yyyy'}}</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
            <div ng-show="settingTabIsSet(2)">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 ">
                        <div class="panel panel-info">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3 col-lg-3 profile-user-icon" align="center"> 
                                        <i ng-show="client.gender == 'זכר'" class="fa fa-male" aria-hidden="true"></i>
                                        <i ng-show="client.gender == 'נקבה'" class="fa fa-female" aria-hidden="true"></i>
                                         </div>
                                    <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                                    <dl>
                                        <dt>DEPARTMENT:</dt>
                                        <dd>Administrator</dd>
                                        <dt>HIRE DATE</dt>
                                        <dd>11/12/2013</dd>
                                        <dt>DATE OF BIRTH</dt>
                                        <dd>11/12/2013</dd>
                                        <dt>GENDER</dt>
                                        <dd>Male</dd>
                                    </dl>
                                    </div>-->
                                    <div class=" col-md-9 col-lg-9 ">

                                        <table class="table table-user-information">
                                            <tbody>
                                                <tr>
                                                    <td>מספר לקוח:</td>
                                                    <td> {{client.id}}  </td>
                                                </tr>
                                                <tr>
                                                    <td>שם מלא:</td>
                                                    <td> {{client.firstname}}  {{client.lastname}} </td>
                                                </tr>
                                                <tr>
                                                    <td>מדרג:</td>
                                                    <td>{{client.gender}}</td>
                                                </tr>
                                                <tr>
                                                    <td>תאריך לידה:</td>
                                                    <td>{{client.birth_date}}</td>
                                                </tr>
                                                <tr>
                                                    <td>גיל:</td>
                                                    <td>{{client.age}}</td>
                                                </tr>
                                                <tr>
                                                    <tr>
                                                        <td>סטטוס:</td>
                                                        <td>{{client.status}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>מפנה:</td>
                                                        <td>{{client.reference}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>אימייל:</td>
                                                        <td><a href="mailto:{{client.email}}">{{client.email}}</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>אתר:</td>
                                                        <td>{{client.website}}</td>
                                                    </tr>

                                                    <tr>
                                                        <td>טלפון:</td>
                                                        <td>{{client.phone}} </td>
                                                    </tr>

                                                    <tr>
                                                        <td>תאריך הצטרפות:</td>
                                                        <td>{{client.last_visit_date | date : ' HH:mm , dd-MM-yyyy'}}</td>
                                                    </tr>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                                <span class="pull-right">
                                    <a href="#/edit-client/{{client_id}}" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>