<div class="login-page bk-img">
	<div class="form-content">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<h1 class="text-center text-bold">שיחזור סיסמה</h1>
					<div class="well row pt-2x pb-3x bk-light login-bg">
						<div class="col-md-8 col-md-offset-2">
							<form action="" class="mt">

								<div class="form-group label-floating is-empty">
									<label for="i5" class="control-label">אימייל</label>
										<input  ng-model="user.email" type="text" placeholder="אימייל" class="form-control mb">
									<span class="help-block"></span>
								</div>
								<button class="btn btn-primary btn-raised btn-block" ng-click="doRenewPass(user)" type="submit">שלח</button>
							</form>
						</div>
					</div>
					<div class="text-center text-light">
						<a href="#/signup" class="blue-color">הרשמה</a>&nbsp;&nbsp;
						<a href="#/login" class="blue-color">התחברות</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>